/* Standard */ 
h1, h2, h3 {
	margin: 0;
}

dt {
	display: inline
}

dd {
	display: inline;
	margin-left: 10px;
}

.hide {
	display: none;
}
/* END standard */
#pagina {
	border: 1px solid black;
	padding: 15px 15px 5px 15px;
}

.fullFrame {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
}

/* Settings pagina */
#projectCheckboxes {
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: ;
	column-gap: 20px;
	padding-bottom: 1em;
}

#projectCheckboxes dl {
	margin-top: 0;	
	margin-bottom: 0;
}

#widgetSettings {
	clear: both;
}

.projectTab {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 5px;
	min-width: 1px;
	margin-right: -1px;
	text-align: center;
	float: left;
	cursor: pointer;
}

.widgetSettingFrame {
	border: 1px solid black;
	padding: 10px;
	width: 220px;
	margin-right: 20px;
	float: left;
}

.active {
	background-color: #CCDDDD;
}