@(dashboard: Dashboard, settingsForm: Form[models.Dashboard], mapOfFormWidgets : Map[Long, Form[models.Widget]], projectManagers: List[API_models.Projectmanager], projects: List[DashboardProject])

@* @import helper.bootstrap._ *@
@import helper._

@main("Settings van dashboard") {
        
	<script src="@routes.Assets.at("javascripts/settings.js")" type="text/javascript"></script>
    
    <h1>Instellingen - @dashboard.label</h1>
    <a href="/">Terug naar dashboardoverzicht</a>
    <hr />
    
    <div id="pagina">
    	<div class="fullFrame">
    		<h3>Keuze projecten</h3>
    		<hr /> 
    		@form(routes.DashboardSettings.saveSetting(dashboard.id)) {
    			@*********************
				 * ALLE GEKOZEN PROJECTEN IN DB, niet de NIET gekozen ids; Kan later problemen opleveren bij het automatisch aanvullen van nieuwe projecten!!! *
				 *********************@
			    @select(settingsForm("projectManager"), options(controllers.DashboardSettings.getProjectManagers(projectManagers)), '_label -> "Project manager" )			    
			    	
			   <div id="projectCheckboxes">
			   		@for(i <- 0 until projects.size) {
				   		@checkbox(settingsForm("projectContainer["+i+"]"), 'value -> (projects.get(i).getFuo_id+","+projects.get(i).getOwner_id+","+projects.get(i).getName), 'id -> projects.get(i).getFuo_id, '_class ->  (projects.get(i).getOwner_id +" hide"), '_label -> projects.get(i).getName)
				   	}
				</div>
		        
		        <input type="submit" value="Save">
	    	}
	    </div>
	    
	    @for(dashboardProject <- DashboardProject.getProjectsByDashboardId(dashboard.id)) {
	    	<div id="projectTab_@dashboardProject.getId" class="projectTab">@dashboardProject.getName</div>
		}			    
	    
	    @form(routes.Widget.saveWidgets(dashboard.id), 'id -> "settingsWidgetForm") {
	    	<div id="widgetSettings" class="fullFrame">
			    @for(dashboardProject <- DashboardProject.getProjectsByDashboardId(dashboard.id)) {				    
			   		<div id="widgetSetting_@dashboardProject.getId" class="fullFrame">
			   			<h3>Widgets</h3>
		    			<hr />
		    			@for(widget <- models.Widget.getWidgetsByProjectId(dashboardProject.getId)) {
		    				<div class="widgetSettingFrame">
		    					<h3>@widget.getName</h3>
		    					<hr />
		    					<input type="hidden" name="id" value="@widget.getId" />
		    					@checkbox(mapOfFormWidgets(widget.getId)("activated"), '_label -> "Toon op dashboard")
		    					@inputText(mapOfFormWidgets(widget.getId)("updateTime"), '_label -> "Update time", '_showConstraints -> false )
		    				</div>
		    			}	 

		    			<div style="clear:both"></div>   			
			   		</div>
			    }
			    
			    <input type="submit" value="Save">
		    </div>
	    }
    </div>   
}