@(dashboard: models.persistence.Dashboard, settingsForm: Form[models.view.ViewModelDashboard], mapOfFormWidgets : Map[Long, Form[models.persistence.Widget]], projectManagers: List[models.api.Projectmanager], projects: List[models.persistence.DashboardProject])

@* @import helper.bootstrap._ *@
@import helper._

@main("Settings - "+ dashboard.getLabel, true, "") {
        
	<script src="@routes.Assets.at("javascripts/settings.js")" type="text/javascript"></script>
    <div class="fullFrame">
   		<h3>Keuze projecten</h3>
   		<hr /> 
   		@form(routes.DashboardSettings.saveSetting(dashboard.getId), 'id -> "settingsDashbaordForm") {
   			@*********************
			 * ALLE GEKOZEN PROJECTEN IN DB, niet de NIET gekozen ids; Kan later problemen opleveren bij het automatisch aanvullen van nieuwe projecten!!! *
			 *********************@
		    @select(settingsForm("projectManager"), options(controllers.DashboardSettings.getProjectManagers(projectManagers)), '_label -> "Project manager" )			    
		    	
		   <div id="projectCheckboxes">
		   		@for(i <- 0 until projects.size) {
		   			<span class="project">
		   				<input type="hidden" name="id" value="@( controllers.DashboardSettings.getProjectIdForExistedProject(projects.get(i), settingsForm.get().getProjects()) )" />
			   			<input type="hidden" name="fuoId" value="@projects.get(i).getFuoId" />
			   			<input type="hidden" name="clientName" value="@projects.get(i).getClientName" />
			   			<input type="hidden" name="ownerId" value="@projects.get(i).getOwnerId" />
			   			<input type="hidden" name="name" value="@projects.get(i).getName" />
			   			<input type="hidden" name="projecttypeDescription" value="@projects.get(i).getProjecttypeDescription" />
			   			<input type="hidden" name="dashboardId" value="@dashboard.getId" />
			   			<dl class="@(projects.get(i).getOwnerId +" hide")" id="@(projects.get(i).getFuoId)_field">
							    <dt><label for="@(projects.get(i).getFuoId)">@(projects.get(i).getName)</label></dt>
							    <dd>
							    <input type="checkbox" id="@(projects.get(i).getFuoId)" name="projects" value="true" @(if( controllers.DashboardSettings.projectExistInDB(projects.get(i), settingsForm.get().getProjects()) ) "checked")>
							    <span></span>
							</dd>
						</dl>
			   			@* @checkbox(settingsForm("projects"), 'id -> projects.get(i).getFuoId, '_class ->  (projects.get(i).getOwnerId +" hide"), '_label -> projects.get(i).getName) *@
			   		</span>
			   	}
			</div>
	        
	        <input type="submit" value="Save">
    	}
    </div>
    
    @for(dashboardProject <- models.persistence.DashboardProject.getProjectsByDashboardId(dashboard.getId)) {
    	<div id="projectTab_@dashboardProject.getId" class="projectTab">@dashboardProject.getName</div>
	}			    
    
    @form(routes.Widget.saveWidgets(dashboard.getId), 'id -> "settingsWidgetForm") {
    	<div id="widgetSettings" class="fullFrame">
		    @for(dashboardProject <- models.persistence.DashboardProject.getProjectsByDashboardId(dashboard.getId)) {				    
		   		<div id="widgetSetting_@dashboardProject.getId" class="fullFrame">
		   			<h3>Widgets</h3>
	    			<hr />
	    			@for(widget <- models.persistence.Widget.getWidgetsByProjectId(dashboardProject.getId)) {
	    				<div class="widgetSettingFrame">
	    					<h3>@widget.getName</h3>
	    					<hr />
	    					<input type="hidden" name="id" value="@widget.getId" />
	    					@checkbox(mapOfFormWidgets(widget.getId)("activated"), '_label -> "Toon op dashboard")
	    					@inputText(mapOfFormWidgets(widget.getId)("updateTime"), '_label -> "Update time", '_showConstraints -> false )
	    					
	    					@for(i <- 0 until widget.getWidgetSettings.length) {
	    						<input type="hidden" name="widgetSettings[@i].id" value="@widget.getWidgetSettings.get(i).getId" />
	    						@select(field = mapOfFormWidgets(widget.getId)("widgetSettings["+i+"].type"), options = Seq("single" -> "single", "bi" -> "bi"), '_label -> "Type", '_class -> "widgetSettingType" )
	    						@inputText(mapOfFormWidgets(widget.getId)("widgetSettings["+i+"].name"), '_label -> "Naam" )
	    						@inputText(mapOfFormWidgets(widget.getId)("widgetSettings["+i+"].value"), '_label -> "Waarde", '_class -> "widgetSettingValue" )
	    					}
	    				</div>
	    			}	 

	    			<div style="clear:both"></div>   			
		   		</div>
		    }
		    
		    <input type="submit" value="Save">
	    </div>
    }  
}