@(dashboard: models.persistence.Dashboard, dashboardProjects: List[models.persistence.DashboardProject])

@import helper._

@main("Dashboard - "+ dashboard.getLabel, true, "marginPaginaDashboard") {
	<script src="@routes.Assets.at("javascripts/dashboard.js")" type="text/javascript"></script>
	<div id="projects">
		@for(dashboardProject <- dashboardProjects) {
			<div id="@dashboardProject.getId" fuo_id="@dashboardProject.getFuoId" class="project">
				<div class="projectStatusBar">
					<span>@dashboardProject.getFuoId |</span>
					<span>@dashboardProject.getClientName |</span>
					<span><a href="https://www.intranet.finalist.com/FacturenOnline/beheerProjecten/ProjectInitAction.do?projectId=@dashboardProject.getFuoId" target="blank_">@dashboardProject.getName</a> |</span>
					<span>@dashboardProject.getProjecttypeDescription</span>
				</div>
				<div class="FuoVoortgangsrapportage" style="display: none;">
					<table>
						<tr>
							<td>Planning: <span class="planning"></span></td>
							<td>Todo: <span class="hoursTodo"></span></td>
							<td>Afwijking: <span class="afwijking"></span><span> uur</span></td>
							<td>Uren: <span class="hoursWorked"></span><span> / </span><span class="hours_total"></span></td>							
						</tr>
						<tr>
							<td>Nieuw inzicht: <span class="nieuwInzicht"></span></td>
							<td>Gereed: <span class="percentageGereed"></span><span> %</span></td>
							<td>Percentage afwijking: <span class="percentageAfwijking"></span><span> %</span></td>
							<td>Laatst op geschreven: <span class="lastUpdateDate"></span></td>						
						</tr>						
					</table>
				</div>
				<div class="widgets">
					
					<div class="FuoModules fillTableModule widget" style="display: none;">
						<h4>Fuo - Modules</h4>
						<hr />
						<table>
							<thead>
								<tr>
									<th>Module</th>
									<th>Gerealiseerde uren</th>								
									<th>Geplande uren</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					
					<div class="SonarInformation widget" style="display: none;">
						<h4>Sonar - Overzicht project</h4>
						<hr />
						<div class="sonarInformationInnerDiv" style="width: 120px">
							<h5>Violations</h5>
							<hr />
							<table>
								<tbody>
									<tr>
										<td>Blocker</td>
										<td class="blocker_violations"></td>
									</tr>
									<tr>
										<td>Critical</td>
										<td class="critical_violations"></td>
									</tr>
									<tr>
										<td>Major</td>
										<td class="major_violations"></td>
									</tr>
									<tr>
										<td>Minor</td>
										<td class="minor_violations"></td>
									</tr>
									<tr>
										<td>Info</td>
										<td class="minor_violations"></td>
									</tr>
									<tr>
										<td></td>
										<td><hr /></td>
									</tr>
									<tr>
										<td>Totaal</td>
										<td class="violations"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="sonarInformationInnerDiv">
							<h5>Andere informatie</h5>
							<hr />
							<table>
								<tbody>
									<tr>
										<td>Lines of code</td>
										<td class="ncloc"></td>
									</tr>
									<tr>
										<td>Code coverage</td>
										<td class="coverage"></td>
									</tr>
									<tr>
										<td>Quality Index</td>
										<td class="qi-quality-index"></td>
									</tr>
									<tr>
										<td>Unit test success</td>
										<td class="test_success_density"></td>
								</tbody>
							</table>
						</div>
						<div style="clear: both"></div>
					</div>
					
				</div>
			</div>
		}
		<div class="clearBoth"></div>
	</div>
}