@(dashboard: models.persistence.Dashboard, dashboardProjects: List[models.persistence.DashboardProject])

@import helper._

@main("Dashboard - "+ dashboard.getLabel, true) {
	<script src="@routes.Assets.at("javascripts/dashboard.js")" type="text/javascript"></script>
	<div id="projects">
		@for(dashboardProject <- dashboardProjects) {
			<div id="@dashboardProject.getId" fuo_id="@dashboardProject.getFuo_id" class="halfFrame project">
				<div class="projectStatusBar">
					<span>@dashboardProject.getFuo_id |</span>
					<span>@dashboardProject.getClient_name |</span>
					<span><a href="https://www.intranet.finalist.com/FacturenOnline/beheerProjecten/ProjectInitAction.do?projectId=@dashboardProject.getFuo_id">@dashboardProject.getName</a> |</span>
					<span>@dashboardProject.getProjecttype_description</span>
				</div>
				<div class="FuoVoortgangsrapportage">
					<table>
						<tr>
							<td>Planning: <span class="planning"></span></td>
							<td>Todo: <span class="hours_todo"></span></td>
							<td>Afwijking: <span class="afwijking"></span><span> uur</span></td>
							<td>Uren: <span class="hours_worked"></span><span> / </span><span class="hours_total"></span></td>							
						</tr>
						<tr>
							<td>Nieuw inzicht: <span class="nieuw_inzicht"></span></td>
							<td>Gereed: <span class="percentage_gereed"></span><span> %</span></td>
							<td>Percentage afwijking: <span class="percentage_afwijking"></span><span> %</span></td>
							<td>Laatst op geschreven: <span class="last_update_date"></span></td>						
						</tr>						
					</table>
				</div>
				<div class="FuoModules fillTableModule widget">
					<h4>Fuo - Modules</h4>
					<hr />
					<table>
						<thead>
							<tr>
								<th>Module</th>
								<th>Gerealiseerde uren</th>								
								<th>Geplande uren</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		}
		<div class="clearBoth"></div>
	</div>
}