@(dashboards: List[models.persistence.Dashboard], dashboardForm: Form[models.persistence.Dashboard])

@import helper._

@main("Dashboardsoverzicht", false, "") {
	<div class="fullFrame">
   		<h3>Overzicht</h3>
   		<hr />
   
		    <table>
		    	<thead>
		    		<tr>
			    		<th>Nummer</th>
			    		<th>Naam</th>
			    		<th>Instellingen</th>
			    		<th>Verwijderen</th>
		    		</tr>
		    	</thead>
		    	<tbody>
			        @for(dashboard <- dashboards) {
				        <tr>
				            <td style="width: 10%">@dashboard.getId</td>
				            <td style="width: 66%">
				            	<a href="@routes.Dashboard.getProjects(dashboard.getId)">@dashboard.getLabel</a>
				            </td>
				            <td style="width: 12%">	                
				                @form(routes.DashboardSettings.index(dashboard.getId)) {
				                    <input type="submit" value="settings">
				                }
				            </td>
				            <td style="width: 12%">
				                @form(routes.Application.deleteDashboard(dashboard.getId)) {
				                    <input type="submit" value="Delete">
				                }
				            </td>
				        <tr>
			        }
		        </tbody>
		    </table>
	</div>
	
	<div class="fullFrame">	    
	    <h3>Voeg een nieuw dashboard toe</h3>
	    <hr />
	    @form(routes.Application.createDashboard()) {
	        
	        @inputText(dashboardForm("label"), '_label -> "Naam dashboard", '_showConstraints -> false )
	        
	        <input type="submit" value="Create">
	        
	    }
	</div>
}